.pkg {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px; 
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.pkg__title {
  font-size: 1.5em;
  font-weight: 700;
  color: green;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid green;
}

.pkg__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.pkg__item {
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.pkg__item__attribute {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: flex;
}

.pkg__item__attribute > span {
  width: 100px; 
  display: inline-block;
}

.pkg__item__attribute__send__form__submit {
  display: inline-block;
  padding: 0 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
} 

.pkg__item__attribute__btn {
  display: inline-block;
  padding: 0 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: royalblue;
} 

.pkg__item__attribute__send__form__submit:hover,
.pkg__item__attribute__btn {
  box-shadow: 0 0 5px black;
}


.pkg__item__history { 
  /* max-width: 650px; */
  display: grid;
  justify-content: start;
  grid-auto-flow: column; 
  padding: 7px;
  overflow-y: hidden;
  overflow-x: scroll;  
}

.pkg__item__history__transfer {
  width: 300px;
  padding: 5px;
  overflow: hidden;
  margin-right: 5px;
  background-color: grey;
  color: white;
}

.pkg__item__history__transfer__attribute {
  margin-bottom: 5px;
  margin-left: 5px;
}

.pkg__item__history__transfer__address {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pkg__create { 
  margin: 10px 0;
}

.pkg__create__title {
  font-weight: 700;
  font-size: 1.2rem;
  color: green;
  margin-bottom: 10px;
}

.pkg__create__form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.pkg__create__form__group {
  display: flex;
  margin: 5px 0;
}


.pkg__create__form__label {
  width: 85px; 
}

.pkg__create__form__text-input {
  flex: 1;
}

.pkg__create__form__submit {
  align-self: flex-end;
  color: green;
  border: 1px solid green;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}

.pkg__create__form__submit:hover {
  background-color: green;
  color: white;
}


.open-btn {  
  padding: 0 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: green; 
}